Data/Images/
.Rproj.user
Data/*.csv
.Rhistory
meta/PedilanthusWorldClim.csv
meta/Seqs.ods
meta/clima1mgw/
meta/colectas_pedilanthus.xlsx
meta/geo_samples.csv
meta/hipso4mgw/
meta/isotm1mgw/
meta/preci4mgw/
meta/samples.csv
meta/speciesID.csv
meta/tempm4mgw/
scripts/.Rhistory
scripts/.ipynb_checkpoints/
Data/euclidean_distance_all/*
Data/euclidean_distance_morethanone/*

